@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
} 
@font-face {
  font-family: 'DisPro';
  src: url('/assets/fonts/FreightDispProLight-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'testt';
  src: url('/assets/fonts/FuturaPTLight.otf');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'testt', sans-serif;
}


.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.FreightDis {
  font-family: 'DisPro', sans-serif;
}
.FuturaMedium {
  font-family: 'Futura PT Medium', sans-serif;
}
.SoftH2 {
  font-size: clamp(2rem, 6vw, 7.5rem);
}

.SoftSpan {
  font-size: clamp(1rem, 1.2vw, 2rem);
  margin-bottom: 15px;
}

  .price{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  @media only screen and (max-width: 1024px){
    .cardProduct{
      flex: 0 1 calc(100% / 3 - 16px);
      margin: 0;
      padding: 0;
    }
    .filterrr{
      overflow: hidden;
    }
  }
  @media only screen and (max-width: 768px){
    .cardProduct{
      flex: 0 1 calc(100% / 2 - 16px);
    }
  }
  .heart-icon {
    cursor: pointer;
    z-index: 2;
    fill: none;
    stroke: #808284;
    stroke-width:1.5 ;
}
.inp-price::-webkit-inner-spin-button,
.inp-price::-webkit-outer-spin-button {
  display: none;
}

  
