@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
/* @font-face {
  font-family: 'DisPro';
  src: url('/assets/fonts/FreightDispProLight-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Heavy';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/FuturaCyrillicHeavy.woff') format('woff');
}

@font-face {
  font-family: 'Futura PT Light';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/FuturaCyrillicLight.woff') format('woff');
}


@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/FuturaCyrillicMedium.woff') format('woff');
}

.luxurious-script-regular {
  font-family: "Luxurious Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.FreightDis {
  font-family: 'DisPro', sans-serif;
}
.FuturaLight {
  font-family: 'Futura PT light', sans-serif;
}
.FuturaMedium {
  font-family: 'Futura PT Medium', sans-serif;
} */
.SoftH2 {
  font-size: clamp(2rem, 6vw, 7.5rem);
}

.SoftSpan {
  font-size: clamp(1rem, 1.2vw, 2rem);
  margin-bottom: 15px;
}
